/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require fullcalendar
 *= require_tree .
 */
body{
  background:#000;
}

.my_studio{
  font-family: helvetica  ;
  font-size:30px;
}

.simplified {
  font-family: 'Lobster Two', cursive;
  font-size:38px;
}

.home_link a:visited{
  color:0#fff;
  text-decoration: none;
}

a:-webkit-any-link{
  text-decoration:none !important;
  color:#fff;
}

a{
  text-decoration:none;
  color:#fff;
}