/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
/*
 *= require jquery.ui.all
 */
/*
 *= require fullcalendar
*/
/*
 *= require_tree .
 */

body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	min-width:600px;		/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}



a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
#header {
	border-bottom:1px solid #000;
}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#eee;
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	background:#369;
	color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}
/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}

.home_link{
  float:left;
  position:relative;
  top:-10px;
}

.session{
  float:right;
}

.header{
  padding:5px;
  background: #555555;
  height:60px;
  font-family:helvetica;
  color:#dddddd;
  font-size:15px;
}

.header a{
  padding:5px;
  background: #555555;
  height:60px;
  font-family:helvetica;
  color:#dddddd;
  font-size:15px;
}

/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
  padding:15px;
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}
/* 3 Column settings */
.threecol {
/*  background:#eee;    /* right column background colour */
}
.threecol .colmid {
	right:35%;			/* width of the right column */
}
.threecol .colleft {
	right:50%;			/* width of the middle column */
}
.threecol .col1 {
	width:46%;			/* width of center column content (column width minus padding on either side) */
	left:102%;			/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:15%;			/* Width of left column content (column width minus padding on either side) */
	left:37%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	width:33%;			/* Width of right column content (column width minus padding on either side) */
	left:87%;
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
  background: #555555;
  color:#dddddd;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-family: helvetica;
  font-size: 20px;  
}

#footer a{
  color:#dddddd;
}

#footer_text {
  text-align:center;
}

.col2{
  color:#dddddd;
  font-family: helvetica;
  font-size:22px;
  margin: 10px;
  border-radius: 10px;
}

.col2 a{
  position:relative;
  color:#333333;
  font-family: helvetica;
  font-size:22px;
  background:#dddddd;
  border-radius: 10px;
  border: solid 3px #eeeeee;
  padding:4px 8px;
  top:10px;
}

.col3{
  color:#dddddd;
  font-family: helvetica;
  font-size:22px;
}

.col1{
  background: #dddddd;
  padding:10px;
  border-radius:10px;
}