.image_wrapper{
  position: relative;
}

.scale_image{
  display: block;
  width: auto;
  max-width: 100%;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
