a:-webkit-any-link{
  text-decoration:none !important;
}


a{
  text-decoration:none;
  color:#bbb;
}


html,body{
  background:#333;
  font-family:helvetica;
  color:#e0e0e0;
}

h1,h2,h3{
  color:#333;
}

#container {
  min-height: 100%;
  width: 100%;
  background:#333;
  position: relative;
  padding: 0;
}

#page {
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
}

.home_icon{
  background-image: url("https://s3-us-west-2.amazonaws.com/matthova/studio-simplified.png");
  background-size:cover;
  display: inline-block;
  height: 3em;
  width: 8em;
  overflow: hidden;
  padding: 10px;
}

.button{
  width:100%;
  border-bottom: solid 1px #333;
  background:#324F6D;
  transition-property:background;
  transition-duration:500ms;
  font-size: .75em;
  height:5vh;
}

.button:hover{
  background:#C27F54;
}

.button a{
  color:#bbb;
}

/* =Reset
-------------------------------------------------------------- */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
}

html,
body,
div{
  margin: 0;
  padding: 0;
}

/* =Color
-------------------------------------------------------------- */
 
#header{
    background: #333;
    height: 4em;
    padding: 0;
    margin: 0;
    z-index:4;
}
 
#main{
    background: #333  ;   
}
 
#secondary .widget,
#tertiary .widget{
  font-family: 'Oswald', sans-serif;
  font-size: 2em  ;
  text-align:center;
  width:100%;
}

#primary,#secondary,#tertiary{
  height:100vh;
  background:#333;
}

/* =Structure Mobile
-------------------------------------------------------------- */

.footer_above {
  padding-bottom: 25px;
}

.footer {
  background:#333;
  height: 2em;
  position: absolute;
  bottom: 0;
  width:100%;
}

.footer p {
  font-size: 0.83em;
  text-align: center;
  padding-top: 2em;
}