a:-webkit-any-link{
  text-decoration:none !important;
  color:#000;
}


a{
  text-decoration:none;
  color:#fff;
}


html,body{
  background:#eeeeee;
  font-family:helvetica;
}

#container {
  min-height: 100%;
  width: 100%;
  background:#eeeeee;
  position: relative;
  padding: 0;
}

#page {
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
}

.home_icon{
  background-image: url("https://s3-us-west-2.amazonaws.com/matthova/studio-simplified.png");
  background-size:cover;
  display: inline-block;
  height: 4em;
  width: 10em;
  overflow: hidden;
}

.button{
  width:100%;
  border: solid 4px #000;
  background:#dddddd;
}

.session{
  float:right;
  position: relative;
  top: 1.5em;
  right:.4em;
}
/* =Reset
-------------------------------------------------------------- */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
}

html,
body,
div{
  margin: 0;
  padding: 0;
}

/* =Color
-------------------------------------------------------------- */
 
#header{
    background: #ddd;
    height: 4em;
    padding: 0;
    margin: 0;
}
 
#main{
    background: #eeeeee;   
}
 
#secondary .widget,
#tertiary .widget{
  font-family: 'Oswald', sans-serif;
  font-size: 2em  ;
  text-align:center;
  width:100%;
}
 
/* =Structure Mobile
-------------------------------------------------------------- */

.footer_above {
  padding-bottom: 25px;
}

.footer {
  background:#f00;;
  height: 2em;
  position: absolute;
  bottom: 0;
  width:100%;
}

.footer p {
  font-size: 0.83em;
  text-align: center;
  padding-top: 2em;
}