/* =Structure Tablet
-------------------------------------------------------------- */
 
@media screen and (min-width : 900px) {
    #primary{
        float: left;
        width: 65%;
        padding-right: 1em;
    }
 
    #secondary,
    #tertiary{
        float: right;
        clear: right;
        width: 35%;
    }
}

/* =Structure Desktop
-------------------------------------------------------------- */
@media screen and (min-width : 1140px) {
    #primary{
        float: left;
        margin-left: 25%;
        width: 50%;
        padding: 0 1em;
    }
 
    #secondary{
        float: left;
        margin: 0 0 0 -75%;
        width: 25%;
        clear: none;
    }
 
    #tertiary{
        float: right;
        width: 25%;
        clear: none;
    }
}

.wrap{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
}
 
.wrap:after {
    content: "";
    display: table;
    clear: both;
}
 
#primary{
    max-width: 720px;
/*    margin: 0 auto;
*/}
 
#secondary,
#tertiary{
    max-width: 400px;
/*    margin: 0 auto;
*/}
 
#secondary .widget,
#tertiary .widget{
    padding: 1em;
    margin-bottom: 1em;
}
