/* =Structure Tablet
-------------------------------------------------------------- */

@media screen and (min-width : 900px) {
    #primary{
        float: right;
        width: 65%;
/*        padding-right: 1em;
*/    }
 
    #secondary,
    #tertiary{
        float: left;
        clear: left;
        width: 35%;
        height:50vh;
    }
}

/* =Structure Desktop
-------------------------------------------------------------- */
@media screen and (min-width : 1140px) {
    #primary{
        float: left;
        margin: 0 25% 0 -75%;

        width: 50%;
/*        padding: 0 1em;
*/    }
 
    #secondary{
        float: left;
        width: 25%;
        clear: none;
    }
 
    #tertiary{
        float: right;
        width: 25%;
        clear: none;
    }
    
    #primary,#secondary,#tertiary{
      height:100vh;
    }
}

.wrap{
    max-width: 2400px;
    margin: 0 0;
    padding: 0;
    background:#333;
}
 
.wrap:after {
    content: "";
    display: table;
    clear: both;
}
 
#primary{
    max-width: 900px;
/*    margin: 0 auto;
*/}
 
#secondary,
#tertiary{
    max-width: 900px;
/*    margin: 0 auto;
*/}
 
#secondary .widget,
#tertiary .widget{
/*    padding: 1em;
*/    margin-bottom: 1em;
}
